[Unit]
Description=Borgmatic backup to Marmoset
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/borgmatic-marmoset-backup
